template(name="new_data_list")
	+label
	+model_def_data_list_input
	+model_def_data_list

template(name="model_def_data_list")
	datalist(name=name,id=name)
		+each options
			+model_def_data_list_option
			
template(name="model_def_data_list_input")
	input(type="text",list=name,value=value)

template(name="model_def_data_list_option")
	option(value=optionValue)=value